name: Simple-Deployment-Pipeline

# Trigger this whenever we push to the 'main' branch
on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    # This tells GitHub to run the commands on YOUR EC2 (the self-hosted runner)
    runs-on: self-hosted

    steps:
      # Step 1: Pull the latest code from this GitHub Repo
      - name: Checkout Code
        uses: actions/checkout@v4

      # Step 2: Build the Docker Image
      - name: Build Docker Image
        run: docker build -t simple-app-image .

      # Step 3: Clean up old versions so port 80 is free
      - name: Stop and Remove Old Container
        run: |
          docker stop simple-app-container || true
          docker rm simple-app-container || true

      # Step 4: Start the new container
      - name: Run New Container
        run: docker run -d -p 80:80 --name simple-app-container simple-app-image